<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">Add new Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="" class="list-group-item clearfix">
            <div class="pull-left">
                <div class="list-group-item-heading">A Recipe</div>
                <div class="list-group-item-text">It is a simple description</div>
            </div>
            <span class="pull-right">
                <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2017/05/american-style-pancakes.jpg?itok=_tikdZhR" alt="" class="img-responsive" style="max-width: 50px;">                
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>